@model Product

@{
    ViewData["Title"] = "Home Page";
    Product product = Model;
}
<style>
    .pading-10 {
        padding: 10px;
    }
</style>

<div class="text-center">
    @if (product.Id == 0)
    {
        <h1 class="display-4">New Product</h1>
    }
    else
    {
        <h1 class="display-4">Update Product</h1>
    }

</div>

<div class="well">
    @using (Html.BeginForm("DeleteProduct", "Product"))
    {
        <div class="row">
            <div class="col-md-3 text-center">
                @Html.LabelFor(model => model.Id, new { @class = "control-lavel pading-10" })
            </div>
            <div class="col-md-9">
                @Html.DisplayTextFor(model => model.Id)
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(model => model.Name, new { @class = "control-lavel pading-10" })
            </div>
            <div class="col-md-9">
                @Html.DisplayTextFor(model => model.Name)
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(model => model.Brand, new { @class = "control-lavel pading-10" })
            </div>
            <div class="col-md-9">
                @Html.DisplayTextFor(model => model.Brand)
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(model => model.Price, new { @class = "control-lavel pading-10" })
            </div>
            <div class="col-md-9">
                @Html.DisplayTextFor(model => model.Price)
            </div>
        </div>
        <div class="row">
            <div style="width:200px;margin:0px auto">
                <a href="@Url.Action("Index","Product")" class="btn btn-primary">Back To List</a>

                <button type="submit" class="btn btn-danger">Delete</button>
            </div>

        </div>
    }

</div>
