@model Product

@{
    ViewData["Title"] = "Home Page";
    Product product = Model;
}
<style>
    .pading-10 {
        padding: 10px;
    }
</style>

<div class="text-center">
    @if (product.Id == 0)
    {
        <h1 class="display-4">New Product</h1>
    }
    else
    {
        <h1 class="display-4">Update Product</h1>
    }

</div>

<div class="well">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-3 text-center">
                @Html.LabelFor(model => model.Name, new { @class = "control-lavel pading-10" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control pading-10" })
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(model => model.Brand, new { @class = "control-lavel pading-10" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Brand, new { @class = "form-control pading-10" })
            </div>

            <div class="col-md-3 text-center">
                @Html.LabelFor(model => model.Price, new { @class = "control-lavel pading-10" })
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control pading-10" })
            </div>
        </div>
        <div class="row">
            <div style="width:200px;margin:0px auto">
                <a href="@Url.Action("Index","Product")" class="btn btn-primary">Back To List</a>
                &nbsp;
                @if (product.Id == 0)
                {
                    <a href="@Url.Action("Index","Product")" class="btn btn-success">Save</a>
                }
                else
                {
                    <a href="@Url.Action("Index","Product")" class="btn btn-warning">Update</a>
                }
            </div>

        </div>
    }

</div>
